@import 'variables.less';

.footer {
    margin-bottom: 32px;
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0 0 8px 8px;
    }
    .navbar-nav {
        a {
            font-weight: bold;
            color: #666666;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .footer-nav {
        background-color: #eeeeee;
        border-top: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
        margin-bottom: 15px;
    }
    .company-info {
        font-size: 12px;
        a {
            color: #888888;
        }
        p {
            margin: 0;
        }
        .group {
            margin-top: 5px;
            margin-bottom: 15px;
        }
        .bold {
            font-size: 14px;
            font-weight: bold;
        }
    }
    .copy {
        display: block;
        font-size: 11px;
        font-weight: normal;
    }
    .logo,
    .site-social {
        float: right;
    }
    .logo {
        display: inline-block;
        max-width: 120px;
    }
    .site-social {
        font-size: 28px;
        margin-top: 15px;
        a {
            padding: 0 5px;
            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
        .rss {
            a {
                color: @fill-color;
            }
        }
        .facebook {
            a {
                color: #3a5795;
            }
        }
        .youtube {
            a {
                color: #cc181e;
            }
        }
    }
}
