@import 'variables.less';
@import 'plugins.less';

body {
    .font-normal();
    background-color: #d6d7bc;
    background-image: url(bg/body-bg.png);
    background-position: 50% 0;
    background-repeat: repeat-x;
    background-attachment: fixed;
}
a {
    color: @fill-color-dark;
    &:active,
    &:focus,
    &:hover {
        color: darken(@fill-color-dark, 10%);
    }
}
h1,
h2,
h3 {
    color: @fill-color-dark;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
.container {
    .box-shadow();
    background-color: #ffffff;
}
.document-content {
    .container {
        padding-bottom: 45px;
    }
}
.section {
    img {
        margin-top: 5px;
        margin-bottom: 15px;
    }
}
.hotline-bar {
    font-weight: bold;
    color: #ffffff;
    background: #000000;
    padding: @space-normal * 0.75 0;
    a {
        color: #ffffff;
    }
    .fa {
        margin-right: 5px;
    }
    .hotline-item {
        padding-right: 20px;
        display: inline-block;
    }
}
.carousel-inner {
    border-top: solid 1px #444444;
    border-bottom: solid 1px #444444;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
    font-size: 32px;
    text-align: left;
    opacity: 0.8;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    span {
        display: block;
    }
    .small {
        font-size: 18px;
    }
}
.carousel-indicators {
    right: 15px;
    left: auto;
    bottom: 0;
    width: auto;
}
.main-content-body {
    float: right;
}
.main-navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    .title {
        font-weight: bold;
        font-size: 18px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        color: @fill-color-alt;
        background: @fill-color-dark url(bg/main-nav-title-bg.png) 0 100% repeat-x;
        padding: 10px;
        margin: 0;
    }
    .nav {
        background: url(bg/main-nav-ng.png);
        padding-bottom: 20px;
        a {
            color: #333333;
            padding-left: 35px;
            &:active,
            &:focus,
            &:hover {
                background: rgba(0, 0, 0, 0.2);
            }
            &:before {
                .font-awesome();
                font-size: 16px;
                content: '\f18e';
                display: inline-block;
                vertical-align: middle;
                display: inline-block;
                width: 20px;
                margin-left: -20px;
            }
        }
    }
    .row:first-child {
        .title {
            border-radius: 6px 6px 0 0;
        }
    }
    .row:last-child {
        .nav {
            border-radius: 0 0 6px 6px;
        }
    }
}
.post-list-item {
    .featured-image {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .title {
        margin-top: 8px;
    }
}
.category-accessories {
    .post-list-item {
        .title {
            font-size: 16px;
        }
        .the-info {
            display: none;
        }
    }
}
.accessories-list {
    .post-accessories-item {

    }
    .post-list-item {
        max-height: 220px;
        min-height: 220px;
        text-align: center;
        margin-bottom: 20px;
    }
    .title {
        font-weight: bold;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .post-thumbnail {
        img {
            margin-left: auto;
            margin-right: auto;
            height: auto !important;
            width: auto !important;
            max-height: 100px;
            max-width: 100px;
        }
    }
    .content {
        font-size: 13px;
    }
}
.post-container {
    padding-top: 15px;
    padding-bottom: 30px;
}

.sidebar {
    margin-top: 20px;
    .title {
        font-weight: bold;
        font-size: 18px;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
        color: @fill-color-dark;
        background: @fill-color-light url(bg/sidebar-title-bg.png) 0 100% repeat-x;
        padding: 10px;
        margin: 0;
        border: solid 1px @fill-color;
        border-radius: 6px 6px 0 0;
        border-bottom: none;
    }
    .body {
        background-color: #f2f2f2;
        padding: 5px 5px 10px 5px;
        border: solid 1px #e7e7e7;
        border-radius: 0 0 6px 6px;
        border-top: none;
        &.banner {
            padding: 5px;
            border-radius: 6px;
            border: none;
        }
    }
    .widget {
        margin-bottom: 15px;
        a {
            color: #666666;
        }
        &.links.government-office {
            li {
                text-align: center;
                margin-bottom: 15px;
            }
            img {
                max-width: 120px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .recent-project {
        .preview {
            background-color: #f2f2f2;
            display: block;
        }
        .item {
            margin-bottom: 8px;
        }
        .caption {
            display: block;
            padding: 5px 10px;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .carousel-caption {
        font-size: 11px;
    }
    .accessories-list {
        .post-list-item {
            max-height: 300px;
            min-height: 300px;
        }
        .title {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
