@import 'variables.less';

.header {
    margin-top: 8px;
    .navbar {
        border: none;
        position: relative;
        margin-bottom: 0;
        a {
            color: #ffffff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
    }
    .container {
        padding-top: 15px;
        padding-bottom: 10px;
        background: transparent url(bg/header-bg.png) 0 0 no-repeat;
        border-bottom: solid 1px #333333;
        border-radius: 8px 8px 0 0;
    }
    .tagline {
        color: @fill-color-alt;
        float: left;
        margin-top: 30px;
        span {
            display: block;
        }
        .tagline-1 {
            font-size: 12px;
        }
        .tagline-2 {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .main-site-nav {
        .active() {
            color: @fill-color-alt;
        }
        li {
            margin-left: 2px;
            &.open {
                & > a {
                    .active();
                    background-color: rgba(red(@fill-color), green(@fill-color), blue(@fill-color), 0.85);
                }
            }
        }
        a {
            padding-top: 12px;
            padding-bottom: 10px;
            border-radius: 5px;
            &:active,
            &:focus,
            &:hover {
                .active();
                background-color: rgba(red(@fill-color), green(@fill-color), blue(@fill-color), 0.3);
            }
        }
        .active {
            a {
                .active();
                background-color: rgba(red(@fill-color), green(@fill-color), blue(@fill-color), 0.65);
            }
        }
        .dropdown-menu {
            border: 0;
            border-radius: 5px;
            li {
                margin-left: 0;
            }
            a {
                color: @fill-color-dark;
                text-shadow: none;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 0;
                &:active,
                &:focus,
                &:hover {
                    .active();
                    background-color: rgba(red(@fill-color), green(@fill-color), blue(@fill-color), 0.8);
                }
            }
        }
    }
    .main-site-nav {
        font-weight: bold;
        margin-top: 40px;
        position: relative;
        float: right;
    }
    .site-search {
        position: absolute;
        top: -45px;
        right: 0;
        input {
            font-weight: normal;
            padding-top: 2px;
            height: 28px;
            padding-bottom: 2px;
            padding-right: 35px;
            border-radius: 14px;
            width: 190px;
        }
        button {
            background-color: transparent;
            border: none;
            color: #666666;
            width: 20px;
            height: 28px;
            padding: 0;
            position: absolute;
            right: 20px;
            top: 0;
        }
    }
    .language-nav {
        font-size: 11px;
        position: absolute;
        right: 220px;
        top: -37px;
        a {
            padding: 4px 6px;
        }
    }
    .navbar-brand {
        height: auto;
        padding: 5px 15px;
        .logo {
            display: inline-block;
            max-width: 180px;
        }
        .text {
            font-weight: bold;
            display: none;
        }
    }
    .icon-bar{
        background: #ffffff;
    }
}

@media (max-width: @screen-xs-max) {
    .header {
        margin-top: 0;
        .container {
            border-radius: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        .navbar {
            border: none;
        }
        .navbar-brand {
            padding-top: 5px;
            padding-bottom: 5px;
            .logo {
                max-width: 120px;
            }
            /*
            .logo {
                display: inline-block;
                max-width: 30px;
                vertical-align: middle;
            }
            .text {
                display: inline-block;
            }
            */
        }
        .main-site-nav {
            float: none;
            margin-top: 5px;
            li {
                margin-left: 0;
            }
            a {
                border-radius: 0;
            }
            .dropdown-menu {
                border-radius: 0;
                background-color: rgba(red(@fill-color), green(@fill-color), blue(@fill-color), 0.8);
                a {
                    color: #ffffff;
                }
            }
        }
        .language-nav,
        .site-search {
            position: relative;
            right: auto;
            top: auto;
        }
        .language-nav {
            a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .site-search {
            input {
                width: 100%;
            }
            button {
                top: 10px;
            }
        }
    }
}
