// Blue
// =============================================================
@palette-blue-list:
    #e3f2fd, #bbdefb, #90caf9, #64b5f6, #42a5f5,
    #2196f3, #1e88e5, #1976d2, #1565c0, #0d47a1,
    #82b1ff, #448aff, #2979ff, #2962ff,
    #ffffff, #212121;

@palette-blue-50:   extract(@palette-blue-list, 1);
@palette-blue-100:  extract(@palette-blue-list, 2);
@palette-blue-200:  extract(@palette-blue-list, 3);
@palette-blue-300:  extract(@palette-blue-list, 4);
@palette-blue-400:  extract(@palette-blue-list, 5);
@palette-blue-500:  extract(@palette-blue-list, 6);
@palette-blue-600:  extract(@palette-blue-list, 7);
@palette-blue-700:  extract(@palette-blue-list, 8);
@palette-blue-800:  extract(@palette-blue-list, 9);
@palette-blue-900:  extract(@palette-blue-list, 10);

@palette-blue-a100: extract(@palette-blue-list, 11);
@palette-blue-a200: extract(@palette-blue-list, 12);
@palette-blue-a400: extract(@palette-blue-list, 13);
@palette-blue-a700: extract(@palette-blue-list, 14);

@palette-blue-alt-zone:  @palette-blue-500;
@palette-blue-alt-light: extract(@palette-blue-list, 15);
@palette-blue-alt-dark:  extract(@palette-blue-list, 16);


// Lime
// =============================================================
@palette-lime-list:
    #f9fbe7, #f0f4c3, #e6ee9c, #dce775, #d4e157,
    #cddc39, #c0ca33, #afb42b, #9e9d24, #827717,
    #f4ff81, #eeff41, #c6ff00, #aeea00,
    #ffffff, #212121;
@palette-lime-50:   extract(@palette-lime-list, 1);
@palette-lime-100:  extract(@palette-lime-list, 2);
@palette-lime-200:  extract(@palette-lime-list, 3);
@palette-lime-300:  extract(@palette-lime-list, 4);
@palette-lime-400:  extract(@palette-lime-list, 5);
@palette-lime-500:  extract(@palette-lime-list, 6);
@palette-lime-600:  extract(@palette-lime-list, 7);
@palette-lime-700:  extract(@palette-lime-list, 8);
@palette-lime-800:  extract(@palette-lime-list, 9);
@palette-lime-900:  extract(@palette-lime-list, 10);

@palette-lime-a100: extract(@palette-lime-list, 11);
@palette-lime-a200: extract(@palette-lime-list, 12);
@palette-lime-a400: extract(@palette-lime-list, 13);
@palette-lime-a700: extract(@palette-lime-list, 14);

@palette-lime-alt-zone:  @palette-lime-900;
@palette-lime-alt-light: extract(@palette-lime-list, 15);
@palette-lime-alt-dark:  extract(@palette-lime-list, 16);


// Blue Grey
// =============================================================
@palette-blue-grey-list:
    #eceff1, #cfd8dc, #b0bec5, #90a4ae, #78909c,
    #607d8b, #546e7a, #455a64, #37474f, #263238,
    #ffffff, #212121;
@palette-blue-grey-50:   extract(@palette-blue-grey-list, 1);
@palette-blue-grey-100:  extract(@palette-blue-grey-list, 2);
@palette-blue-grey-200:  extract(@palette-blue-grey-list, 3);
@palette-blue-grey-300:  extract(@palette-blue-grey-list, 4);
@palette-blue-grey-400:  extract(@palette-blue-grey-list, 5);
@palette-blue-grey-500:  extract(@palette-blue-grey-list, 6);
@palette-blue-grey-600:  extract(@palette-blue-grey-list, 7);
@palette-blue-grey-700:  extract(@palette-blue-grey-list, 8);
@palette-blue-grey-800:  extract(@palette-blue-grey-list, 9);
@palette-blue-grey-900:  extract(@palette-blue-grey-list, 10);

@palette-blue-grey-alt-zone:  @palette-blue-grey-400;
@palette-blue-grey-alt-light: extract(@palette-blue-grey-list, 11);
@palette-blue-grey-alt-dark:  extract(@palette-blue-grey-list, 12);
