@import 'palette.less';

// Screen
// ======
    @screen-xs-max: 767px;
    @screen-sm-min: 768px;
    @screen-sm-max: 991px;
    @screen-md-min: 992px;
    @screen-md-max: 1199px;
    @screen-lg-min: 1200px;

@body-color:       @palette-blue-grey-50;

@fill-color:       @palette-lime-500;
@fill-color-light: @palette-lime-200;
@fill-color-dark:  @palette-lime-700;
@fill-color-alt:   @palette-lime-alt-light;

@line-color:       @palette-lime-200;
@line-color-light: @palette-lime-50;
@line-color-dark:  @palette-lime-400;

@space-normal:     15px;
@space-compact:    5px;

.font-normal() {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-alt() {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-awesome() {
    font-family: 'FontAwesome';
}

.box-shadow() {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
